---
# Include variables and define needed variables.
- name: Include OS-specific variables.
  ansible.builtin.include_vars: "{{ item }}"
  with_first_found:
    - "{{ ansible_distribution }}-{{ ansible_distribution_major_version }}.yml"
    - "{{ ansible_distribution }}.yml"
    - "{{ ansible_os_family }}.yml"

# Setup/install tasks.
- ansible.builtin.include_tasks: setup-RedHat.yml
  when: ansible_os_family in ['RedHat', 'Rocky']

- ansible.builtin.include_tasks: setup-Debian.yml
  when: ansible_os_family == 'Debian'

- ansible.builtin.include_tasks: setup-Alpine.yml
  when: ansible_os_family == 'Alpine'

- ansible.builtin.include_tasks: setup-Suse.yml
  when: ansible_os_family == 'Suse'

- name: checkout repo
  when: jenkins_user|bool and lttng_modules_checkout_repo
  git: repo=git://git-mirror.internal.efficios.com/git/linux-all.git
       dest=/home/jenkins/gitcache/linux-stable.git
       bare=yes
  become: yes
  become_user: jenkins
