---
- name: Update apt cache.
  apt: update_cache=yes cache_valid_time=86400

- name: Ensure lttng-modules build dependencies are installed.
  apt: "name={{ item }} state=installed"
  with_items: lttng_modules_packages

