{% extends 'x86.jinja2' %}
{% set connection_command = 'virsh --connect qemu:///system console --force kvm1' %}
{% set hard_reset_command = 'virsh --connect qemu:///system reset kvm1' %}
{% set power_off_command = 'virsh --connect qemu:///system reset kvm1' %}
{% set power_on_command = 'virsh --connect qemu:///system reset kvm1' %}
{% set soft_reset_command = 'reboot' %}
{% set boot_interface = 'net0' %}
{% set kernel_extra_args = 'cpuidle.off=1' %}
