{% extends 'x86.jinja2' %}
{% set connection_command = 'virsh --connect qemu:///system console --force kvm2' %}
{% set hard_reset_command = 'virsh --connect qemu:///system reset kvm2' %}
{% set power_off_command = 'virsh --connect qemu:///system reset kvm2' %}
{% set power_on_command = 'virsh --connect qemu:///system reset kvm2' %}
{% set soft_reset_command = 'reboot' %}
{% set boot_interface = 'net0' %}
{% set boot_character_delay = '100' %}
{% set test_character_delay = '100' %}
