{% extends 'x86.jinja2' %}
{% set connection_command = 'virsh --connect qemu+ssh://ci-host-amd64-2d.internal.efficios.com/system console --force lava-node-amd64-04' %}
{% set hard_reset_command = 'virsh --connect qemu+ssh://ci-host-amd64-2d.internal.efficios.com/system reset lava-node-amd64-04' %}
{% set power_off_command = 'virsh --connect qemu+ssh://ci-host-amd64-2d.internal.efficios.com/system reset lava-node-amd64-04' %}
{% set power_on_command = 'virsh --connect qemu+ssh://ci-host-amd64-2d.internal.efficios.com/system reset lava-node-amd64-04' %}
{% set soft_reset_command = 'reboot' %}
{% set boot_interface = 'net0' %}
{% set boot_character_delay = '100' %}
{% set test_character_delay = '100' %}

