[Unit]
Description=Control and Queueing daemon for PDUs

[Service]
ExecStart=/bin/bash %h/lttng-ci/lava/pdudaemon/daemon.sh
Type=simple
User=lava
Restart=on-abnormal

[Install]
WantedBy=multi-user.target
