[Unit]
Description=Control and Queueing daemon for PDUs

[Service]
ExecStart=/bin/bash /var/lib/lava-server/home/lttng-ci/lava/pdudaemon/daemon.sh
Type=simple
User=lavaserver
Restart=on-abnormal

[Install]
WantedBy=multi-user.target
