---
- when: netplan_manage
  block:
    - name: Install netplan
      ansible.builtin.apt:
        name: netplan.io
    - name: Update netplan default.yaml
      when: netplan_content
      ansible.builtin.copy:
        content: "{{netplan_content}}"
        dest: /etc/netplan/default.yaml
        owner: root
        group: root
        mode: '0600'
      notify:
        - 'Apply netplan'
    - name: Disable ifupdown on Debian
      when: ansible_distribution == "Debian"
      block:
        - name: Disable ifupdown networking
          ansible.builtin.systemd:
            name: networking.service
            masked: true
        - name: Enable systemd-networkd
          ansible.builtin.systemd:
            name: systemd-networkd
            enabled: true
            state: started
    - name: Manage non-default netplan configurations
      ansible.builtin.include_tasks:
        file: config.yml
      vars:
        "filename": "/etc/netplan/{{item.filename|default(item.name)}}.yaml"
        "netplan_content": "{{item.content}}"
        "state": "{{item.state|default('present')}}"
      loop: "{{netplan_configs}}"
