device_type: x86
job_name: {{ job_name }}
timeouts:
  job:
    hours: 3
  action:
    hours: 3
  connection:
    minutes: 4
  connections:
    lava-test-shell:
      minutes: 4
priority: medium
visibility: public
context:
  extra_kernel_args: cpuidle.off=1
  extra_nfsroot_args: ",nfsvers=3 nfsrootdebug"

{% if device_type == DeviceType.kvm %}
tags:
  - qemu
{% endif %}
{% if device_type == DeviceType.x86 %}
tags:
  - dev-sda1
{% endif %}

metadata:
  jenkins_jobname: {{ job_name }}


actions:
    - deploy:
        timeout:
          minutes: 10
        to: tftp
        kernel:
          url: {{ kernel_url }}
          type: zimage
        modules:
          url: {{ lttng_modules_url }}
          compression: gz
        nfsrootfs:
          url: {{ nfsrootfs_url }}
          compression: gz

    - boot:
        timeout:
          minutes: 10
        method: ipxe
        commands: nfs
        auto_login:
          login_prompt: 'login:'
          username: root
          password_prompt: 'Password:'
          password: root
        prompts:
          - 'root@linaro-server:~#'

    - test:
        definitions:
            # Base setup of environment #
            - repository:
                metadata:
                    format: Lava-Test Test Definition 1.0
                    name: x86-env-setup
                    description: "Basic environment setup for x86 board"
                    os:
                      - ubuntu
                    devices:
                      - x86
                run:
                  steps:
                    - chmod 755 /
                    - systemctl start systemd-timesyncd
                    - echo nameserver 172.18.0.12 > /etc/resolv.conf
                    - ip a
                    - groupadd tracing
                  {% if device_type == DeviceType.x86 %}
                    - mount /dev/sda1 /tmp
                  {% elif device_type == DeviceType.kvm %}
                    - mount /dev/sda /tmp
                  {% endif %}
                    - rm -rf /tmp/*
                    - depmod -a
                    - locale-gen en_US.UTF-8
                    - apt-get update
                    - apt-get upgrade
                    - apt-get install -y systemtap-sdt-dev
                    - pip3 install 'pip==20.3'
                    - hash -r
                    - pip3 install vlttng
                    - {{ vlttng_cmd }}
                    - ln -s {{ vlttng_path }} /root/lttngvenv
                    - sync
              from: inline
              name: x86-env-setup-inline
              path: inline/x86-env-setup.yaml
          {% if test_type == TestType.baremetal_tests %}
            - repository: https://github.com/lttng/lttng-ci.git
              from: git
              path: lava/system-tests/perf-tests.yml
              name: perf-tests
              params:
                LTTNG_VERSION_STRING: {{ lttng_version_string }}
                JENKINS_BUILD_ID: {{ jenkins_build_id }}
          {% elif test_type == TestType.kvm_tests %}
            - repository: https://github.com/lttng/lttng-ci.git
              from: git
              path: lava/system-tests/kernel-tests.yml
              name: kernel-tests
              params:
                LTTNG_VERSION_STRING: {{ lttng_version_string }}
                JENKINS_BUILD_ID: {{ jenkins_build_id }}
            - repository: https://github.com/lttng/lttng-ci.git
              from: git
              path: lava/system-tests/destructive-tests.yml
              name: destructive-tests
              params:
                LTTNG_VERSION_STRING: {{ lttng_version_string }}
                JENKINS_BUILD_ID: {{ jenkins_build_id }}
          {% endif %}
