device_type: x86
job_name: {{ job_name }}
timeouts:
  job:
    hours: 5
  action:
    hours: 5
  connection:
    minutes: 4
  connections:
    lava-test-shell:
      minutes: 4
priority: medium
visibility: public
context:
  extra_kernel_args: cpuidle.off=1
  extra_nfsroot_args: ",nfsvers=3 nfsrootdebug"

environment:
  SHELL: "/bin/bash"

{% if device_type == DeviceType.kvm %}
tags:
  - qemu
{% endif %}
{% if device_type == DeviceType.x86 %}
tags:
  - dev-sda1
{% endif %}

metadata:
  jenkins_jobname: {{ job_name }}


actions:
    - deploy:
        timeout:
          minutes: 10
        to: tftp
        kernel:
          url: {{ kernel_url }}
          type: zimage
        modules:
          url: {{ lttng_modules_url }}
          compression: gz
        nfsrootfs:
          url: {{ nfsrootfs_url }}
          compression: gz

    - boot:
        timeout:
          minutes: 10
        method: ipxe
        commands: nfs
        auto_login:
          login_prompt: 'login:'
          username: root
          password_prompt: 'Password:'
          password: root
        prompts:
          - 'root@linaro-server:~#'

    - test:
        definitions:
            # Base setup #
            - repository: {{ ci_repo }}
              from: git
              branch: {{ ci_branch }}
              path: lava/system-tests/setup.yml
              name: x86-env-setup
              params:
                CI_REPO: {{ ci_repo }}
                CI_BRANCH: {{ ci_branch }}
            # Base vlttng setup #
            - repository:
                metadata:
                    format: Lava-Test Test Definition 1.0
                    name: vlttng-env-setup
                    description: "Configure virtualenv for vlttng"
                    os:
                      - debian
                      - ubuntu
                    devices:
                      - x86
                      - kvm
                run:
                  steps:
                  {% if device_type == DeviceType.x86 %}
                    - mount /dev/sda1 /tmp
                  {% elif device_type == DeviceType.kvm %}
                    - mount /dev/sda /tmp
                  {% endif %}
                    - rm -rf /tmp/*
                    # With the Debian bookwrom rootfs, without
                    # this being set, the babeltrace2 'bt2' python
                    # bindings are not correctly installed in the
                    # vlttng directory.
                    - export SETUPTOOLS_USE_DISTUTILS=stdlib
                    - source /root/python-venv/bin/activate
                    - {{ vlttng_cmd }}
                    - ln -s {{ vlttng_path }} /root/lttngvenv
                    - sync
              from: inline
              name: vlttng-env-setup-inline
              path: inline/vlttng-env-setup
          {% if test_type == TestType.baremetal_tests %}
            - repository: {{ ci_repo }}
              from: git
              branch: {{ ci_branch }}
              path: lava/system-tests/perf-tests.yml
              name: perf-tests
              params:
                LTTNG_VERSION_STRING: {{ lttng_version_string }}
                JENKINS_BUILD_ID: {{ jenkins_build_id }}
                CI_REPO: {{ ci_repo }}
                CI_BRANCH: {{ ci_branch }}
          {% elif test_type == TestType.kvm_tests %}
            - repository: {{ ci_repo }}
              from: git
              branch: {{ ci_branch }}
              path: lava/system-tests/kernel-tests.yml
              name: kernel-tests
              params:
                LTTNG_VERSION_STRING: {{ lttng_version_string }}
                JENKINS_BUILD_ID: {{ jenkins_build_id }}
                CI_REPO: {{ ci_repo }}
                CI_BRANCH: {{ ci_branch }}
          {% endif %}
            - repository: {{ ci_repo }}
              from: git
              branch: {{ ci_branch }}
              path: lava/system-tests/upload-artifacts.yml
              name: upload-artifacts
              params:
                LTTNG_VERSION_STRING: {{ lttng_version_string }}
                JENKINS_BUILD_ID: {{ jenkins_build_id }}
                CI_REPO: {{ ci_repo }}
                CI_BRANCH: {{ ci_branch }}
