---
config:
  core.https_address: "{{lxd_cluster_ip|default('[::]')}}:8443"
{% if lxd_cluster_ip|default(false) %}
  cluster.https_address: {{lxd_cluster_ip}}:8443
{% endif %}
  images.auto_update_interval: "0"
networks: []
{% if lxd_cluster|default(false) %}
# Storage pools are configured per member
storage_pools: []
{% else %}
- config:
   source: tank/lxd
  description: ""
  name: default
  driver: zfs
{% endif %}
profiles:
- config:
    boot.autostart: "true"
    user.vendor-data: |-
      #cloud-config
      manage_etc_hosts: True
      packages:
        - netplan.io
        - openssh-server
      runcmd:
        - ['mkdir', '-p', '/root/.ssh']
        - "echo 'ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIBnCyGcahJXys7md2yb3jP8L6hLN3D72aZCzsqUrJDsC\nssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIHVFn/ymsG8LqPvgVzyMaSVzYCVn/440ME8O6AzbZG39' > /root/.ssh/authorized_keys"
  description: ""
  devices:
    eth0:
      name: eth0
      parent: br102
      nictype: bridged
      network: ''
      type: nic
    root:
      path: /
      pool: default
      type: disk
      size: 100GB
  name: default
- config:
    boot.autostart: "true"
    limits.cpu: "8"
    limits.memory: "8192MB"
    user.vendor-data: |-
      #cloud-config
      manage_etc_hosts: True
      packages:
        - netplan.io
        - openssh-server
      runcmd:
        - ['mkdir', '-p', '/root/.ssh']
        - "echo 'ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIBnCyGcahJXys7md2yb3jP8L6hLN3D72aZCzsqUrJDsC\nssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIHVFn/ymsG8LqPvgVzyMaSVzYCVn/440ME8O6AzbZG39' > /root/.ssh/authorized_keys"
  description: "CI node"
  devices:
    eth0:
      name: eth0
      parent: br102
      nictype: bridged
      network: ''
      type: nic
    root:
      path: /
      pool: default
      type: disk
      size: 80GB
  name: ci-node
- config:
    boot.autostart: "true"
    limits.cpu: "8"
    limits.memory: "8192MB"
    security.secureboot: "false"
  description: "CI root node (VM)"
  devices:
    eth0:
      name: eth0
      parent: br102
      nictype: bridged
      network: ''
      type: nic
    root:
      path: /
      pool: default
      type: disk
      size: 80GB
  name: ci-rootnode
projects: []
cluster: {{lxd_cluster|default(null)}}
